.App {
  border: 2px solid black;
  padding: 5px;
}

.component {
  border: 2px solid black;
}

#navbar {
  height: 40px;
  display: flex;
  justify-content: flex-end;
}

#navbar a {
  height: 30px;
  margin: 5px;
}

.section {
  height: 400px;
}